<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <body>
        <div th:fragment="myHead">
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Bare - Start Bootstrap Template</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link th:href="@{../../css/styles.css}" rel="stylesheet" />
            <link th:href="@{../../css/mystyles.css}" rel="stylesheet" />
        </div>
    </body>
</html>