.form-label{
    width:50%
}
.form-control{
    width:50%
}

.form-select {
    width:50%
}

span.error {
    color: red;
}

.btn{
    margin: 30px auto;
    width: 25%;
}

.container{
    padding: 0px;
}

.courseregister{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
}

.courseregister input{
    margin-left:30px;
    margin-right:10px;
}