<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

    <div th:replace="fragments/head :: myHead"></div>

<body>
    <div th:replace="fragments/header :: myHeader"></div>
<!-- Page content-->
<div class="container">
    <div class="mt-5">
        <h1>Register Student to Course</h1>

        <div class="container">
            <h3> Welcome
            <span th:text="${student.sName}"></span>
            </h3>
        </div>
        <label class="form-label" >Wich course would you register ? </label>
        <form th:action="@{/student/progress}" method="post"  th:object="${student}">
            <input type="hidden" th:field="*{sId}">
        <select class="form-select" th:field="*{sCourses}">
            <option th:each="i: ${courses}" th:value="${i.cId}" th:text="${i.cName}"></option>
        </select>
        <input type="submit" value="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
    <div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>
