<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <div th:replace="fragments/head :: myHead"></div>
</head>
<body>
    <div th:replace="fragments/header :: myHeader"></div>
<!-- Page content-->
<div class="container">
    <div class="mt-5">
        <h1>Registration page</h1>
        <form th:action="@{/student/register}" method="post" th:object="${student}">
            <label class="form-label" for="sName">Enter Name:</label>
            <input th:class="${#fields.hasErrors('sName')}? 'form-control is-invalid':form-control" type="text" id="sName" th:field="*{sName}"/>
            <label class="form-label"  for="sEmail">Enter Email:</label>
            <input th:class="${#fields.hasErrors('sEmail')}? 'form-control is-invalid':form-control" type="email" id="sEmail" th:field="*{sEmail}"/>
            <label class="form-label"  for="sPassword">Enter Password:</label>
            <input th:class="${#fields.hasErrors('sPassword')}? 'form-control is-invalid':form-control" type="password" id = "sPassword" th:field="*{sPassword}"/>
            <label class="form-label"  for="sPassword">Select the roles:</label>
<!--            <select class="form-select"  th:field="*{sRole}"  id="sRole">-->
<!--                <option th:each="role : ${T(org.perscholas.enums.Role).values()}"-->
<!--                        th:value="${role}" th:text="${role}"></option>-->
<!--            </select>-->
            <div>
                <input type="checkbox" name="sRole"
                       th:each="role : ${T(org.perscholas.enums.Role).values()}"
                       th:text="${role}"
                       th:value="${role}"
                       th:field="*{sRole}"
                /><br>
            </div>
            <input type="submit" value="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
    <div th:replace="fragments/footer :: myFooter"></div>
</body>
</html>